html,
body,
main,
#menu{
    background-color:#424242;
    height:100%;
}

#logo {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 40px;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    text-align: center;
    top: 23px;
}

#description {
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 10px;
}

a.button {
    appearance: button;
    padding: 5px;
    background-color: rgb(253, 98, 70);
    text-decoration: none;
    color: white;
    position: absolute;
    margin-right: 5px;
    font-size: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #2b2b2b;
    height: 75px;
    width: 315px;
    text-align: center;
}

#play {
    top: 160px;
}

#rules {
    top: 250px;

}

.container {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#square-large {
    border-radius: 8px;
    width: 600px;
    height: 400px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#square-small {
    border-radius: 6px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #707070;
    position: relative;

    display: flex;
    justify-content: center;
}